body{
	background-color: #000000;
	background-image: url(img/ocean.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
	color: red;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	

}

h2{

	color: black;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


table, tr, td{
	text-align: center;
	border-collapse: separate;
	border-width: 7px;
	border-color: black;
	border-radius: 10px;
	background-color: #dddddd;
}

td{
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 font-size: 15px;
 color: #010101;
}

a{
 font-size: 20px;
 background-color: #d1d1d1; 
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

